{% extends "layout.html" %}

{% block title %}
    Google News
{% endblock %}

{% block main %}
    <head>
        <title>Google Search Results</title>
        <style>
            th {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Top Search Results:</h1>
        <form action="/google" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="search" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Stock News</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.title }}</td>
                    <td><a href="{{ result.url }}">Link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>General News</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results_news %}
                <tr>
                    <td>{{ result.title }}</td>
                    <td><a href="{{ result.url }}">Link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>

{% endblock %}
